<?xml version="1.0" encoding="utf-8"?>

<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="true"
        android:label="DriveCare"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.DarkActionBar">

        <!-- Fuel Tracker -->
        <activity
            android:name=".FuelListActivity" />

        <activity
            android:name=".AddFuelActivity" />

        <!-- Service Reminder -->
        <activity
            android:name=".ReminderListActivity" />

        <activity
            android:name=".AddReminderActivity" />

        <!-- My Vehicles -->
        <activity
            android:name=".VehicleListActivity" />

        <activity
            android:name=".AddVehicleActivity" />

        <!-- Maintenance History -->
        <activity
            android:name=".MaintenanceHistoryActivity" />

        <!-- Add Maintenance -->
        <activity
            android:name=".AddMaintenanceActivity" />

        <!-- Vehicle Documents -->
        <activity
            android:name=".DocumentsActivity" />

        <!-- Add Vehicle Document -->
        <activity
            android:name=".AddDocumentActivity" />

        <!-- Emergency Contacts -->
        <activity
            android:name=".EmergencyActivity" />

        <!-- Add Emergency Contact -->
        <activity
            android:name=".AddEmergencyActivity" />

        <!-- Notifications -->
        <activity
            android:name=".NotificationsActivity" />

        <!-- Add Notification -->
        <activity
            android:name=".AddNotificationActivity" />

        <!-- Settings -->
        <activity
            android:name=".SettingsActivity" />

        <!-- Main Screen -->
        <activity
            android:name=".MainActivity"
            android:exported="true">

            <intent-filter>

                <action
                    android:name="android.intent.action.MAIN" />

                <category
                    android:name="android.intent.category.LAUNCHER" />

            </intent-filter>

        </activity>

    </application>

</manifest>